<table class="cal_month">
    <tr>
        {% for day in headers %}
            <th>{{ day|date:"D"|slice:":2" }}</hd>
        {% endfor %}
    </tr>
    {% for week in calendar %}
        <tr>
            {% for day in week %}
                <td class="cal_day {% if not day.in_month %}not_{% endif %}in_month {% if not day.event %}not_{% endif %}alarm">
                    {% if day.event %}
                        {{day.event}}
                    {% endif %}
                    {{ day.day|date:"j" }}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
