<table class="cal_month">
    <tr>
        {% for day in headers %}
            <th>{{ day|date:"D"|slice:":2" }}</hd>
        {% endfor %}
    </tr>
    {% for week in calendar %}
        <tr>
            {% for day in week %}
            <td class="cal_day {% if not day.wakeup %}not_{% endif %}alarm" {%if day.wakeup %}style="background-color: {{day.wakeup.color}};"{%endif%}>
                    <div class="cal_date">{{ day.day|date:"d" }}</div>
                    <div class="cal_alarms">
                        {% for alarm in day.alarms %}
                            <a class="cal_alarm {% if not alarm == day.wakeup %}not_{%endif%}wakeup" href="/admin/cal/alarm/{{alarm.pk}}">{{alarm}}</a>
                        {% empty %}
                            No alarm!
                        {% endfor %}
                            <a class="cal_add_alarm" href="/admin/cal/alarm/add/?date={{day.day|date:"d-m-Y"}}">Add new</a>
                    </div>
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
