.cal_month{
    margin: 0 auto;
}

.cal_day{
    width:70px;
    height: 70px;
    vertical-align: center;
    text-align: center;

    background-color: #c585ff;
    cursor: pointer;

}

.cal_day.not_alarm{
    background-color: #f00;
    border: 1px solid yellow;
}

.cal_day.not_in_month{
    border: 1px solid #ccc;
    background: #fff;
    color: #ccc;
}

h2{
    text-align: center;
}
