.cal_month{
    margin: 0 auto;
}

.cal_day{
    width:130px;
    height: 130px;

    background-color: #c585ff;
    cursor: pointer;
    vertical-align: top;
}
.cal_date{
    float:right;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    padding: 1px 3px;
}

.cal_day.not_alarm{
    background-color: #f00;
    border: 1px solid yellow;
}

.cal_day.not_in_month{
    border: 1px solid #ccc;
    background: #fff;
    color: #ccc;
}
.wakeup{
    color: #062731;
}

h2{
    text-align: center;
}
